.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'LeagueSpartan-Light';
  src: url("fonts/LeagueSpartan-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
  font-size-adjust: inherit;
}

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url("fonts/LeagueSpartan-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-size-adjust: inherit;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Coming Soon edit */
.message {
  position: absolute;
  top: 10%;
  background-image: url(./images/bg.jpg);
  border-radius: 25px;
}
h1 {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 900;
  font-size: 14vh;
  text-align: center;
  color: rgb(48, 48, 48);
  font-style: normal;
  font-family: 'LeagueSpartan-Bold';
}